<section class="container">
    <h2>Booking Bug code test</h2>
    <div class="row">
        <article ng-repeat="service in $ctrl.services" class="col-12 col-md-6 col-lg-3 service-item" >
            <h4 class="service-name">{{service.name}}</h5>
            <p class="service-description">{{service.description}}</p>
            <div class="service-price-container">
                <span ng-repeat="price in service.prices" class="service-price">{{price | currency : '£'}}{{$last ? '' : ', '}}</span>
            </div>
        </article>
	</div>
    <p class="services-total">Showing {{$ctrl.services.length}} services</p>
</section>

